p.title {
  font-size: 15pt;
  text-align: justify;
}
h2, h3 {
  color: #007070;
}
h1 {
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
div.main_navigation {
  text-align: center;
  padding: 10px 30px;
  background-color: #ffffdd;
  margin: 20px 10px;
}
div.navigation {
  text-align: center;
  padding: 10px 30px;
  background-color: #ffffdd;
  margin: 20px 80px;
}
div.item {
  border: 1px outset #b3b3b3;
  padding: 10px 15px;
  background-color: #f6f6f6;
  margin: 30px 10px;
}
p {
  margin-top: 8px;
  margin-bottom: 8px;
}
p.title, p.date, p.lecturer, p.link, p.place {
  margin-top: 4px;
  margin-bottom: 4px;
}
a {
  text-decoration: none;
  font-weight: 700;
}
h2 {
  text-align: center;
}
div.logo {
  text-align: center;
  position: relative;
}
div.logo div.header1 {
    position: absolute;
    top: -15px;
    left: 100px;
    width: 800px;
}
div.main {
  background: white;
  border: 1px outset #a085f9;
  padding: 18px;
  margin-right: auto;
  margin-left: auto;
  width: 1000px;
}
img.event {
  max-width: 100%;
}
hr {
  color: #a085f9;
  width: 80%
}
body {
  background-color:
  skyblue;
}
table {
    border-collapse: collapse;
}
table, td, th {
    padding: 10px;
    border: 1px solid black;
}
.code {
    background-color: pink;
}
.prob {
    background-color: yellow;
}
