{% load staticfiles %}<!DOCTYPE HTML>
<html>
<head>
  <title>Kódolások {% block title %} {%endblock%}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
  <link rel="SHORTCUT ICON" href="{% static "bits.ico" %}"> 
</head>
<body>
<div class="main">
    <div class="logo">
        <img id="logo" style="width: 600px; height: 50px;"
            src="{% static "binary_free_part.jpg" %}"
            alt="Bitek ikon">
        <div class="header1">
            <h1>Kódolók oldala</h1>
        </div>
    </div>

    <div class="main_navigation">
        <a href="{% url "source_home" %}">Forrás választása</a> {% block urls %}{% endblock %}
    </div>

      <h2>{% block header %}{% endblock %}</h2>

{% block content %}
{% endblock content %}

{% block feedback %}
<hr>
      <p style="margin-top: 4px; text-align: left;">Az oldallal kapcsolatos
      észrevételeit írja meg <a
          href="http://www.amk.uni-obuda.hu/~horvatha/elerhetoseg.html">Horváth
Árpádnak</a>
</p>
{% endblock feedback %}
</div>

</body></html>

