{% extends "base.html" %}
{% load staticfiles %}

{% block title %} &ndash; Információs lánc{% endblock title %}

{% block header %}Információs lánc{% endblock header %}

{% block jumbotron %}
<p>
Ezen az oldalon a teljes információs láncot láthatod, amelyben a forrástól
kiindul az üzenet, majd kódolás után átmegy egy csatornán, majd a vevő megkapja
a dekódolt szöveget, amely hibás is lehet, ha a csatorna hibásan adta tovább a
bitsorozatot.
</p>

<p>
A pillanatnyilag kiválasztott csatorna: a {{channel.verbose_description}}.
</p>

<p>
<a class="btn btn-primary btn-lg" role="button" href="{% url "general_chain" "fix.I_LOVE_YOU" code "[24]" %}">Fix forrás és hibás csatorna &raquo;</a>
</p>
<p>
<a class="btn btn-primary btn-lg" role="button" href="{% url "general_chain" "fix.I_LOVE_YOU" code "[24]" %}8/">Fix forrás, hibás csatorna és hibajavítás &raquo;</a>
</p>
{% endblock jumbotron %}

{% block content %}

<div class="col-md-6">
<p>
<img src="{% static "chain/Anakin_Skywalker_part.jpg" %}" style="width:200px;">
</p>
  {% autoescape off %}
  <table class="table">
  {% for number_of_symbols, colorized_text in  linearized_outputs %}
  <tr><td>{{number_of_symbols}}</td><td>{{colorized_text}}</td></tr>
  {% endfor %}
  </table>
  {% endautoescape %}
<p>
<img src="{% static "chain/Padme_Amidala.jpg" %}" style="width:200px;">
</p>
</div>

<p>
</p>
{% endblock content %}
