{% extends "sources/base.html" %}

{% block title %} &ndash; Egy forrás elemzése {% endblock title %}

{% block cim %} Egyforma valószínűségű jelekből álló forrás elemzése {% endblock cim %}

{% block torzs %}

<h2>A forrás adatai</h2>

<table class="info">
<tr>
    <th>Szimbólum</th>
    {% for symbol, info in source.symbols %}
    <td>{{symbol}}</td>
    {% endfor %}
</tr>
<tr>
    <th>Valószínűség</th>
    {% for prob in source.distribution %}
    <td>{{prob|floatformat:-3}}</td>
    {% endfor %}
</tr>
<tr>
    <th>Információtartalom</th>
    {% for symbol, info in source.information %}
    <td>{{info|floatformat:-3}} bit</td>
    {% endfor %}
</tr>
</table>

<p>
A következő szimbólum várható információtartalma,
azaz a forrás entrópiája:<br>
{{source.entropy|floatformat:-3}} bit szimbólumonként.
</p>

<h2>A kódolás adatai</h2>

{% if code %}
A kód statisztikája
{% else %}
<button id="id_default" type="submit" formaction="sources/1/default/">A honlap létrehozója által megadott kódolás vizsgálata.</button>
{% endif %}

{% endblock torzs %}

