{% extends "base.html" %}

{% block header %}Kapcsolat{% endblock %}

{% block jumbotron %}
<p>
Az oldallal kapcsolatos észrevételeit írd meg, az oldal készítőjének, Horváth Árpádnak.
<a href="http://www.amk.uni-obuda.hu/~horvatha/elerhetoseg.html" class="btn btn-primary btn-lg" role="button">Horváth Árpád elérhetőségei &raquo;</a>
</p>

<p>
Amennyiben az oldal működésével kapcsolatos hibát találtál, és tudod mi az a
GitHub, és csináltál már ilyet, akkor a honlap github-oldalán is jelezheted.
<a href="https://github.com/horvatha/sources/issues" class="btn btn-primary btn-lg" role="button">Ugrás a hibajelentő oldalra &raquo;</a>
</p>
{% endblock jumbotron %}
