{% extends "arithmetic/coding_exercise.html" %}

{% block buttons %}
{% endblock buttons %}

{% block content %}
{% include "arithmetic/probabilities_and_intervals_table.html" %}

<div class="col-md-6">
    <table class="table">
    <tr><th>Szórész</th><th>alsó határ</th><th>felső határ</th><tr>
    {% for part, lower, upper in coder_intervals %}
    <tr><td>{{part}}</td><td>{{lower|floatformat:"6"}}</td><td>{{upper|floatformat:"6"}}</td><tr>
    {% endfor %}
    </table>
</div>

A kapott kódszónak az utolsó intervallumból kell kikerülnie, például az intervallum közepe:
{{code_value|floatformat:"6"}}
{% endblock content %}

