{% extends "arithmetic/decoding_exercise.html" %}

{% block buttons %}
{% endblock buttons %}

{% block content %}
{% include "arithmetic/probabilities_and_intervals_table.html" %}

<div class="col-md-6">
    <table class="table">
    <tr><th>Szórész</th><th>pillanatnyi kód</th><tr>
    {% for part, current_code in decoder_steps %}
    <tr><td>{{part}}</td><td>{{current_code|floatformat:"6"}}</td><tr>
    {% endfor %}
    </table>
</div>

A kapott szöveg tehát "{{text}}".
{% endblock content %}


