{% extends "base.html" %}

{% block title %} &ndash; Aritmetikai kódolás{% endblock title %}

{% block header %}Aritmetikai kódolás{% endblock header %}

{% block main_url %}{% url "arithmetic_home" %}{% endblock main_url %}

{% block jumbotron %}
<p>
  Ezen az oldalon az aritmetikai kódolással ismerkedhetsz meg. A kódolás és
  dekódolás folyamatát videó mutatja be, és változatos feladatokon próbálhatod
  ki ezeket az algoritmusokat.
</p>

<p>
  A kódolásról videók érhetőek el a következő oldalon:
  <a href="http://django.arek.uni-obuda.hu/segedletek/kodolas.html" class="btn btn-primary btn-lg" role="button">Kódolásokat tanító videók &raquo;</a>
</p>

<p>
<a href="{% url "arithmetic_coding_exercise" %}" class="btn btn-primary btn-lg" role="button">Kódolás gyakorlása &raquo;</a>
</p>

<p>
<a href="{% url "arithmetic_decoding_exercise" %}" class="btn btn-primary btn-lg" role="button">Dekódolás gyakorlása &raquo;</a>
</p>
{% endblock jumbotron %}

{% block content %}
{% endblock content %}

